ul
{
  list-style:none;
}
li
{
  border:1px solid black;
}
.border1{
  border:2px solid red;
  width:100%;
  padding:10px;
  border-radius:20px;
  
}
.border{
  width:100%;
 padding:7px;
 border-radius:20px;
}